@model TabloidMVC.Models.Tag

@{
    ViewData["Title"] = "Delete";
}

<div class="container pt-5">

    <h1>Tags</h1>

    <h5 class="border rounded px-4 py-3 my-4 d-inline-block mb-4">@Model.Name</h5>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br /><br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>