@model TabloidMVC.Models.ViewModels.CategoryDeleteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <label>Category Name:</label>
    <span>@Model.Category.Name</span>
</div>
<div>
    @foreach (Post post in Model.Posts)
    {
        <div>
            <label>Associated Posts:</label>
            <span>@post.Title</span>
        </div>
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.Category.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
